.app {
  text-align: center;
  background-color: #2a2a2ab5;
  height: 100vh;
}
.app .rich-editor {
  padding: 10rem;
}

.rich-editor .rdw-editor-main {
  background-color: #fff;
}

.rich-editor .DraftEditor-editorContainer {
  padding: 1rem;
}

.draft-editor-wrapper {
  border: 1px solid #ccc;
}

.html-view {
  background-color: #fff;
  color: #000;
  margin: auto;
  width: 70%;
  margin-bottom: 2rem;
}

h4 {
  color: #fff;
}
.main {
  /* border: solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 50vh; */
}

/* .editorTxt {
} */
.editorChoice {
  display: flex;
  justify-content: space-around;
  margin-top: 25vh;
  margin-bottom: 20px;
  /* border: solid red; */
  width: 100px;
}

.editorComp {
  background-color: lightgray;
  /* border: solid red; */
  width: 600px;
  margin-bottom: 40px;
}

.allButtons {
  /* border: solid red; */
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 30vw;
  height: 20vh;
}

.saveButton {
  margin-bottom: 20px;
}

#show-text {
  margin-top: 20px;
}

.fileReload {
  border: solid red;
  width: 800px;
  height: 90px;
}
